
.thumbnail{
	width:  20em;
	height: 23em;

}
.projectsPics{
	width:  19em;
	height: 15em;
	background-repeat: no-repeat;
	background-position: center center;
	
}
#img1{
	background: url("/assets/images/Projects/OilCol.jpg");
	background-size: contain;
}
#img2{
	background: url("/assets/images/Projects/port.jpg" );
	background-size: contain;
	background-repeat: no-repeat;
}
#img3{
	background: url("/assets/images/Projects/corals.jpg" );
	background-position: cover;
}

.btnDefaultContainer{
	background-position: center center;
}
.btnDefaultP{
	position: relative;
	left: 33%;
}
.proyectTitle{
	text-align: center;
}
#mainTitle{
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-size: 100%;
	text-decoration: underline;
}

